.loginButtons {
  margin-left: 340px;
  margin-top: 140px;
  text-align: center;
  padding-top: 5px;
  height: 110px;
  width: 200px;
  background-color: #88a2bc;
}
.headerHome {
  text-align: center;
  margin-top: 10px;
}
.shoppingCart {
  margin-top: 40px;
  margin-left: 30px;
  width: 150px;
  border-style: groove;
}
#signIn {
  color: white;
  margin-right: 10px;
}
