#hr {
  width: 250px;
  background-color: blue;
}
#h3 {
  margin-left: 301px;
}

.textField {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signUpForm {
  background-color: #F3EDE5;
}
.form {
  margin: auto;
  margin-top: 20px;

  width: 250px;
  text-align: center;
  padding-top: 10px;
}
#button {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
#short {
  width: 150px;
  height: 25px;
  font-size: 10px;
}
#long {
  width: 303px;
  height: 20px;
  font-size: 10px;
}
