#hr {
  width: 250px;
  background-color: blue;
}
#h3 {
  margin-left: 301px;
}
.shippingForm {
  color: white;
  background-color: teal;
  background-size: 20px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  padding-right: 50px;
  font-size: 11px;
}
.name {
  margin-left: 80px;
}
.address {
  margin-left: 80px;
}
.email {
  margin-left: 80px;
}
.textField {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form {
  margin: auto;
  margin-top: 20px;
  background-color: lightgray;
  width: 250px;
  text-align: center;
  padding-top: 10px;
}
#button {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
#short {
  width: 150px;
  height: 25px;
  font-size: 10px;
}
#long {
  width: 303px;
  height: 20px;
  font-size: 10px;
}
